@import url("reset.css");

/* regular pages */
body{
    background-color: rgb(246, 248, 254);
    font-family: 'Dosis', sans-serif;
    margin: 20px;
}

h1{
    font-family: 'Akshar', sans-serif;
    color: rgb(0, 85, 128);
    font-size: 70px;
    margin-top: 70px;
    margin-bottom: 10px;
    text-align: center;
}
h2{
    font-family: 'Akshar', sans-serif;
    font-size: 35px;
}
.lower h2{
    margin-top: 85px;
}
.header p{
    font-size: 18px;
    text-align: center;
}
p{
    font-size: 22px;
}
.theorem h3{
    color:rgb(0, 85, 128);
    font-size: 28px;
}
.center{
    text-align:center;
}
/* regular pages */

/* homepage */
.home h1{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
    color: black;
}
.home p{
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 18px;
}
.home h2{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    margin-top: 10%;
    color: rgb(0, 85, 128);
    font-size: 30px;
}
.homepage-btn{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.homepage-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(0, 85, 128);
    border: 1px solid;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.homepage-btn a span{
    width: 0;
    height: 105%;
    top: 0;
    left: 0;
    background-color: rgb(0, 85, 128);
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
.homepage-btn a:hover{
    color: white;
}
.homepage-btn a:hover span{
    width: 100%;
}
.active{
    color: rgb(0, 32, 48);
    font-weight: bold;
}
a:hover{
    color: rgb(182, 210, 224);
}
/* homepage */

/* side navigation bar */
#sidenav{
    width: 205px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 85, 128);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    margin-right: 0;
    margin-bottom: 5px;
    margin-top: 60px;
    font-size: 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menu-btn{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 85, 128);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;

}
#menu-btn img{
    width: 20px;
    margin-top: 15px;
}
/* side navigation bar */